

.card {
    width: 500px;
    height:400px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name 
 { color: #3d1587;
    font-size: 30px;
    font-weight: 600;
}
.idd1 {
    font-size: 15px;
    font-weight: 600;
    color:grey;
}
.idd {
    font-size: 20px;
    font-weight: 600;
    color: #d27c7c;
}

.number {
    font-size: 22px;
    font-weight: bold
}



.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

